<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프로필 카드 3</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <!-- reset -->
    <link rel="stylesheet" href="./css/reset.css" />
    <!-- font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body id="member03">
    <section id="container">
      <div class="inner">
        <nav id="nav">
          <div class="icon01"><span class="material-icons"> density_small </span></div>
          <div class="icon02"><span class="material-icons"> note </span></div>
        </nav>
        <article id="profile">
          <div class="photo">
            <img src="./img/member3.jpg" alt="" />
          </div>
          <div class="textBox">
            <h1>DCODELAB</h1>
            <p>FRONT-END DEVELOPER</p>
          </div>
          <a href="">VIEW MORE</a>
        </article>
        <div id="contact">
          <ul>
            <li>
              <a href="" class="facebook"><span>Visit My Facebook Page</span></a>
            </li>
            <li>
              <a href="" class="mail"><span>hadaboni80@naver.com</span></a>
            </li>
          </ul>
        </div>
        <div id="others">
          <a href="./member1.html" class="others_01"></a>
          <a href="./member2.html" class="others_02"></a>
          <a href="./member3.html" class="others_03 on"></a>
          <a href="./member4.html" class="others_04"></a>
        </div>
      </div>
    </section>
  </body>
</html>
